<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>

<body>

<div id="wrapper">
    <nav th:replace="navigation"></nav>
    <!-- Navigation -->

    <div id="page-wrapper">
        <section class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User profile</h1>
            </div>
        </section>
        <section class="row">
            <form class="form-horizontal" role="form" th:action="@{/profile}" th:object="${userModel}" action="#"
                  method="POST">
                <input type="hidden" name="_method" value="PUT"/>

                <div class="lead" th:text="#{user.data}">User Data</div>
            </form>
        </section>
        <footer th:replace="footer"></footer>
    </div>

</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" src="https://code.jquery.com/jquery-2.1.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/admin.ui.js}" src="../public/js/admin.ui.js"></script>

</body>

</html>
